/* Estilos para el modo oscuro */
body.dark-mode {
    background-color: #282828;
    color: #ffffff;
  }
  
  .navbar-dark .navbar-nav .nav-link {
    color: #ffffff;
  }
  
  .container {
    background-color:  #282828;
    padding: 20px;
    border-radius: 8px;
  }
  